:root {
    --sh-blue: 0 3px 5px rgb(9 49 142 / 4%), 0 0 18px rgb(9 49 142 / 4%), 0 6px 10px rgb(9 49 142 / 4%), 0 -4px 4px rgb(9 49 142 / 4%);
    --eublue: #003776;
    --euyellow: #F8AE21;

    
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

