.ecl-modal__container.ecl-container {
    width: 96vw;
}
.ecl-modal__content {
    background-color: #f3f6fc;
    border-radius: 0;
}
.ecl-modal {
    background-color: #b2b2b2f7;
    z-index: 0;
}

.ecl-modal__header {
    border-bottom: 0px solid #cfdaf5;
    padding: 0rem;
    justify-content: flex-end;
}

button.ecl-button.ecl-button--ghost.ecl-modal__close {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.7rem;
    position: absolute;
}

.ecl-modal__content {
    height: 90vh !important;
}

.ecl-modal--l .ecl-modal__content {
    max-height: min(100vh,100vh) !important;
}

.ecl-modal__footer-content {
    justify-content: flex-end !important;
}

.ecl-modal__body {
    height: inherit;
    padding-top: 3rem;
    padding-left: 4rem;
}

#toolSelects {
    padding-top: 3rem;
    /* padding-left: 5rem; */
}

.ecl-modal__body .title, .ecl-modal__body .text {
    color: var(--eublue);
    
}


#toolSelects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

/* CSS for each select container */
