.ecl-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.ecl-card:hover {
 box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.ecl-card__body {
    padding: 1rem;
    margin-top: 1rem;
}


h2.ecl-link.ecl-link--standalone {
 cursor: default;
 font-size: clamp(1.2rem, 2.5vw, 1.6rem);    
}

.ecl-card__actions {
    display: flex;
    justify-content: flex-end;
    row-gap: 15px; /* Adjust the value to your desired gap */
    align-items: center;
    padding: 1rem;
}

.ecl-card__actions button {
    margin-right: 15px; /* Adds spacing between buttons */
}

.ecl-card__actions button:last-child {
    margin-right: 0; /* Removes extra space after the last button */
}

.ecl-card__image {  
    max-height: 40vh;
    height: 40vh;
}

/* High contrast mode support */
@media (forced-colors: active) {
  .ecl-card {
    border: 1px solid CanvasText;
  }
}

/* Add responsive adjustments */
@media (max-width: 767px) {
  .ecl-card__body {
    padding: 1rem;
  }

  .ecl-card__actions {
    flex-direction: column;
    gap: 0.5rem;
  }

  .ecl-button {
    width: 100%;
    text-align: center;
  }
}

/* Reduce motion */
@media (prefers-reduced-motion: reduce) {
  .ecl-button {
    transition: none;
  }
}