.react-joyride__tooltip {
  font: var(--f-m);
  border-radius: 4px !important;
  box-shadow: 0 0 6px rgba(9, 49, 142, .2) !important;  
  transform: translateZ(0) !important;
  color: var(--c-d-140) !important;
 background-color: #fff !important;
    box-shadow: 0 0 6px rgba(9, 49, 142, .2) !important;
    color: var(--c-d-140) !important;
    font: var(--f-m) !important;
    height: auto !important;
    -webkit-padding-before: var(--s-2xl) !important;
    padding-block-start: var(--s-2xl) !important;
    -webkit-padding-after: var(--s-2xl) !important;
    padding-block-end: var(--s-2xl) !important;
    -webkit-padding-start: var(--s-l) !important;
    padding-inline-start: var(--s-l) !important;
    -webkit-padding-end: calc(var(--s-l) + 4px) !important;
    padding-inline-end: calc(var(--s-l) + 4px) !important;
    z-index: 100 !important;
    max-width:30rem !important;
    width:auto !important;
    padding: 1rem !important;
}

div.react-joyride__tooltip > div:nth-child(2) > button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border-radius: 4px !important;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font: var(--f-ui-m);
    margin: 0;
    min-height: 2.75rem;
    min-width: 44px;
    text-decoration: none;
}

div.react-joyride__tooltip > button:hover {
    background-color: purple !important; /* Customize for hover */
    border: 1px solid var(--c-p-hover);  /* Optional: Add border on hover */
}

/* skip btn */
div.react-joyride__tooltip > div:nth-child(2) > div > button:hover {
    background-color: red !important; /* Customize for hover */
    border: 1px solid var(--c-p-hover);  /* Optional: Add border on hover */
}


/* back btn */
div.react-joyride__tooltip > div:nth-child(2) > button:nth-child(2):hover {
    background-color: yellow !important; /* Customize for hover */
    border: 1px solid var(--c-p-hover);  /* Optional: Add border on hover */
}

/* next btn */
div.react-joyride__tooltip > div:nth-child(2) > button:hover {
    background-color: green !important; /* Customize for hover */
    border: 1px solid var(--c-p-hover);  /* Optional: Add border on hover */
}
